@page
@model MyWishlist.Pages.CreateWish
@{
    ViewData["Title"] = "Make a wish";
}

<h1>Make a wish</h1>
<hr/>
<div class="row">
    <div class="col-md-4">

        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Wish.Description" class="control-label"></label>
                <textarea asp-for="Wish.Description" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Wish.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="WishImage">Image (PNG, GIF, BMP, JPEG, JPG)</label>
                <input type="file" accept="image/*" id="WishImage" name="WishImage"/>
            </div>
            <div class="form-group">
                <label asp-for="Wish.Link" class="control-label"></label>
                <input asp-for="Wish.Link" class="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control"/>
                <select asp-for="Currency" class="form-control">
                    <option>USD</option>
                    <option>RUB</option>
                    <option>BYN</option>
                    <option>EUR</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>